{% extends 'base.html' %}

{% block title %}

{% endblock%}




{% block content %}


<div class="col-8 mt-5">
    <form class="form-inline" method="POST" id="createform" data-url="task_list_url">
        {% csrf_token %}
        {% for field in form %}
        {{field}}
        {% endfor %}
        
        <input type="button" id="createbutton" class="btn btn-outline-success" value="create"></<input>
       </form>
</div>

<div class="col-5 mt-5" id="listoftask">
    {% for i in tasks %}
   <div class="card mb-1">
       <div class="card.body">

   
    {{i.title}}
    <button type="button" id="" class="close float-right"></button>
    <span aria-hidden="true">&times;</span>
</div>
</div>
{% endfor %}
</div>


{% endblock content %}